In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("income.csv")

In [14]:
df.describe()

             Income
count  7.000000e+00
mean   1.433929e+06
std    3.777283e+06
min    4.000000e+03
25%    5.500000e+03
50%    7.000000e+03
75%    7.750000e+03
max    1.000000e+07

In [19]:
df.Income.quantile(.75)

7750.0

In [ ]:
df_no_outlier = d